@model Slider
@{
    ViewData["Title"] = "Create";
}
<div class="container">

    <div class="row">
        <div class="col-md-8 mx-auto">
            <form asp-action="create" method="post">
                <div class="mb-3">
                    <label asp-for="Title" class="form-label">Title</label>
                    <input asp-for="Title" type="text" class="form-control">
                    <span class="text-danger" asp-validation-for="Title"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Desc" class="form-label">Desc</label>
                    <input asp-for="Desc" type="text" class="form-control">
                    <span class="text-danger" asp-validation-for="Desc"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Order" class="form-label">Order</label>
                    <input asp-for="Order" class="form-control">
                    <span class="text-danger" asp-validation-for="Order"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="BtnText" class="form-label">BtnText</label>
                    <input asp-for="BtnText" type="text" class="form-control">
                    <span class="text-danger" asp-validation-for="BtnText"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="BtnUrl" class="form-label">BtnUrl</label>
                    <input asp-for="BtnUrl" type="text" class="form-control">
                    <span class="text-danger" asp-validation-for="BtnUrl"></span>
                </div>
                 <div class="mb-3">
                 <input  asp-for="ImageFile"/>
                 <span class="text-danger" asp-validation-for="ImageFile"></span>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


